.user-result-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-teal);
  border-radius: 10px;

  p {
    color: var(--white-lilac);
  }

  .tip-amount {
    margin-block: 20px;
    display: flex;
    justify-content: space-around;
    width: 91%;
  }

  .total-amount {
    margin-block: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .tip-total {
    color: var(--milk-white);
    font-weight: bolder;
  }

  .per-person {
    font-size: 14px;
    color: var(--metallic-silver);
  }

  .tip-cost,
  .total-cost {
    color: var(--greeny-blue);
    font-weight: bolder;
    font-size: 25px;
  }

  .reset-btn {
    width: 85%;
    padding: 6px;
    margin-block: 14px;
    border: none;
    border-radius: 4px;
    background-color: var(--greeny-blue);
    color: var(--dark-teal);
  }

  .reset-btn:hover {
    background-color: var(--powder-blue);
    color: var(--dark-teal);
    cursor: pointer;
  }
}


@media (min-width: 48rem) {
  .user-result-section {
    width: 50%;
  }
}