*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
li {
  list-style: none;
}

:root {
  --tropical-blue: #c4e4e8;
  --milk-white: #ffffff;
  --ice-blue: #d0ffff;
  --ash-grey: #a5bbbb;
  --white-lilac: #f3f8fa;
  --dark-teal: #044243;
  --metallic-silver: #b9ccc8;
  --ceramic-white: #f4ffff;
  --powder-blue: #9ee8df;
  --storm-grey: #677979;
  --dusty-rose: #cc7666;
  --greeny-blue: #1fbda8;
  --blueish-grey: #65959b;
  --alice-blue: #e4fcff;
  --very-light-grey: #f0f1f1;
  --ff-space-mono: "Space Mono", monospace;
}

body {
  font-family: var(--ff-space-mono);
  font-weight: 700;
  background-color: var(--alice-blue);
}
body p {
  font-size: 17px;
}

.center {
  --measure: 540px;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.logo {
  margin-block: 3.75rem 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--milk-white);
  color: var(--dark-teal);
  padding: 3rem;
  border-radius: 30px;
}

@media (min-width: 48rem) {
  main {
    display: flex;
  }
}
.user-input-section {
  display: flex;
  justify-content: center;
  background-color: var(--milk-white);
  border-radius: 10px;
  margin-bottom: 10px;
}
.user-input-section h1 {
  font-size: 18px;
}
.user-input-section .bill-input,
.user-input-section .people-input {
  display: flex;
}
.user-input-section .input-icons i {
  position: absolute;
}
.user-input-section .input-icons {
  width: 100%;
}
.user-input-section .icon {
  padding: 10px;
  min-width: 40px;
  color: var(--storm-grey);
}
.user-input-section .input-field {
  padding: 5px;
  text-align: right;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--very-light-grey);
  color: var(--dark-teal);
}
.user-input-section .input-field:focus {
  outline: 2px solid var(--greeny-blue);
}
.user-input-section .input-field:hover {
  cursor: pointer;
}
.user-input-section label {
  text-align: center;
}
.user-input-section .tip-wrapper {
  margin-bottom: 10px;
}
.user-input-section .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "a b" "c d" "e f";
}
.user-input-section .grid-section-a {
  grid-area: a;
}
.user-input-section .grid-section-b {
  grid-area: b;
}
.user-input-section .grid-section-c {
  grid-area: c;
}
.user-input-section .grid-section-d {
  grid-area: d;
}
.user-input-section .grid-section-e {
  grid-area: e;
}
.user-input-section .grid-section-f {
  grid-area: f;
}
@media (min-width: 23.5rem) {
  .user-input-section .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a b c" "d e f";
  }
}
.user-input-section .tip-selection input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.user-input-section .tip-selection .tip-option {
  display: inline-block;
  background-color: var(--dark-teal);
  color: var(--white-lilac);
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
  margin: 6px;
}
.user-input-section .tip-selection input[type=radio]:checked + label {
  background-color: var(--greeny-blue);
  color: var(--dark-teal);
}
.user-input-section .tip-selection input[type=radio]:focus + label {
  border: none;
}
.user-input-section .tip-selection label:hover {
  background-color: var(--powder-blue);
  color: var(--dark-teal);
  cursor: pointer;
}
.user-input-section .custom-tip {
  background-color: var(--very-light-grey) !important;
  color: var(--dark-teal) !important;
  width: 89px;
  margin-left: 7px;
  margin-top: 6px;
  height: 36px;
  border: none;
  border-radius: 7px;
  text-align: center;
}
.user-input-section .custom-tip::placeholder {
  color: var(--dark-teal) !important;
}
.user-input-section .custom-tip:hover {
  cursor: pointer;
  background-color: var(--greeny-blue) !important;
}
.user-input-section .custom-tip:focus {
  outline: 2px solid var(--greeny-blue);
}

@media (min-width: 48rem) {
  .user-input-section {
    width: 50%;
    margin-right: 30px;
  }
  .input-field {
    width: 98%;
  }
}
@media (min-width: 23.5rem) {
  .user-input-section label {
    width: 90px;
  }
  .user-input-section .people-input {
    width: 100%;
  }
}
.user-result-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-teal);
  border-radius: 10px;
}
.user-result-section p {
  color: var(--white-lilac);
}
.user-result-section .tip-amount {
  margin-block: 20px;
  display: flex;
  justify-content: space-around;
  width: 91%;
}
.user-result-section .total-amount {
  margin-block: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.user-result-section .tip-total {
  color: var(--milk-white);
  font-weight: bolder;
}
.user-result-section .per-person {
  font-size: 14px;
  color: var(--metallic-silver);
}
.user-result-section .tip-cost,
.user-result-section .total-cost {
  color: var(--greeny-blue);
  font-weight: bolder;
  font-size: 25px;
}
.user-result-section .reset-btn {
  width: 85%;
  padding: 6px;
  margin-block: 14px;
  border: none;
  border-radius: 4px;
  background-color: var(--greeny-blue);
  color: var(--dark-teal);
}
.user-result-section .reset-btn:hover {
  background-color: var(--powder-blue);
  color: var(--dark-teal);
  cursor: pointer;
}

@media (min-width: 48rem) {
  .user-result-section {
    width: 50%;
  }
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 48rem) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
